{{define "login"}}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proxy Service</title>

    <style>
        body {
            background: #eee;
        }

        form {
            width: calc(100% - 20px);
            max-width: 300px;
            background-color: #fff;
            padding: 10px;
            box-shadow: 0px 3px 10px #d4cdcd;
            margin: 50px auto;
            border-radius: 10px;
        }

        button {
            width: 100%;
            padding: 10px;
            border: 0;
            background: #333;
            color: #fff;
            border-radius: 10px;
            outline: none;
            cursor: pointer;
        }

        h2 {
            width: 100%;
            text-align: center;
            margin: 0;
        }

        input {
            margin: 10px;
            width: 90%;
        }

        #loading {
            position: fixed;
            top: calc(50% - 14px);
            left: calc(50% - 14px);
            z-index: 999999;
            display: none;
        }
    </style>
</head>
<body>
    <div class="mdl-grid">
        <h2>Proxy Service</h2>
    </div>
    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" id="loading"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <form method="post" class="add">
                <h2>Login</h2>
                <hr>
                <input type="text" name="password"/>
                <br>
                <button type="submit" onClick="document.getElementById('loading').style.display = 'block';">Auth</button>
            </form>
        </div>
    </div>
</body>

{{end}}